@import url(https://fonts.googleapis.com/css?family=Iceland|Muli);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);
/* line 5, ../sass/partials/_base.scss */
a {
  font-family: "Iceland", serif;
}

/* line 9, ../sass/partials/_base.scss */
li {
  list-style: none;
}

/* line 13, ../sass/partials/_base.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/partials/_base.scss */
p {
  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/partials/_base.scss */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/partials/_base.scss */
h2, h3 {
  font-size: 2.5rem;
  font-family: "Iceland", serif;
}

/* line 35, ../sass/partials/_base.scss */
section {
  width: 80%;
  margin: 0 auto;
}

/* line 40, ../sass/partials/_base.scss */
button:focus, button:active {
  outline: 0;
}

/* line 44, ../sass/partials/_base.scss */
.title-main {
  color: #359e97;
  font-size: 5rem;
  text-align: center;
  text-shadow: -3px 2px 0px #e8ebed;
  font-family: "Iceland", serif;
  padding: 1% 0 2% 0;
  margin-bottom: 5%;
  box-shadow: 1px 4px 8px 3px rgba(0, 0, 0, 0);
  background-image: url(../img/background-general.gif);
}

/* line 56, ../sass/partials/_base.scss */
footer {
  background: #353535;
  background-image: url(../img/background-general.gif);
  height: 140px;
  text-align: center;
}

/* line 63, ../sass/partials/_base.scss */
.text-footer {
  font-size: 1.5rem;
  font-family: "Iceland", serif;
  display: inline-block;
  width: 60%;
  color: #E8EBED;
  margin-top: 44px;
}

/* line 72, ../sass/partials/_base.scss */
.content-info-footer {
  margin-top: 60px;
}

/* line 3, ../sass/partials/modules/_header.scss */
header {
  background: url(../img/background-general.gif);
  overflow: hidden;
  width: 100%;
  margin-bottom: 5%;
}

/* line 10, ../sass/partials/modules/_header.scss */
.header-logo {
  display: block;
  height: auto;
  margin: 10% auto 13% auto;
}

/* line 1, ../sass/partials/modules/_navigation.scss */
header nav {
  box-sizing: border-box;
  display: block;
  height: 90px;
  margin: 0 auto;
  padding: 10px 2%;
  width: 85%;
}

/*Navbar Styles*/
/* line 12, ../sass/partials/modules/_navigation.scss */
.nav-logo {
  float: left;
  height: auto;
  margin-right: 2%;
  max-width: 10%;
}

/* line 19, ../sass/partials/modules/_navigation.scss */
.main-nav {
  float: left;
  overflow: hidden;
  width: 65%;
}

/* line 25, ../sass/partials/modules/_navigation.scss */
.sub-nav {
  display: none;
  width: 100%;
  padding: 10px 0 0;
}

/* line 31, ../sass/partials/modules/_navigation.scss */
.nav-item {
  display: inline-block;
  float: left;
  margin: 5px 2%;
}
/* line 37, ../sass/partials/modules/_navigation.scss */
.nav-item:hover .sub-nav {
  display: inline-block;
}

/* line 43, ../sass/partials/modules/_navigation.scss */
.nav-item a {
  color: white;
  font-size: 2rem;
  padding: 2px;
  text-decoration: none;
  text-transform: capitalize;
}
/* line 50, ../sass/partials/modules/_navigation.scss */
.nav-item a:hover {
  border-bottom: 2px solid #f2f2f2;
}

/* line 55, ../sass/partials/modules/_navigation.scss */
.sub-nav-item {
  margin: 2% 0;
  width: 100%;
}

/*Language Toggle*/
/* line 62, ../sass/partials/modules/_navigation.scss */
.lang-toggle {
  float: right;
  overflow: hidden;
  padding: 10px;
  width: 10%;
}

/* line 69, ../sass/partials/modules/_navigation.scss */
.lang-item {
  float: left;
  margin-right: 10%;
}

/* line 74, ../sass/partials/modules/_navigation.scss */
.lang-item a {
  color: white;
  font-size: 2rem;
  padding: 2px;
  text-decoration: none;
  text-transform: capitalize;
}
/* line 81, ../sass/partials/modules/_navigation.scss */
.lang-item a:hover {
  border-bottom: 2px solid #f2f2f2;
}

/* line 86, ../sass/partials/modules/_navigation.scss */
.mobile-logo {
  display: none;
  margin: 20px auto;
  text-align: center;
  width: 100%;
}

/*Navigation Menu Button*/
/* line 94, ../sass/partials/modules/_navigation.scss */
.show-menu {
  display: none;
}

/*Hide checkbox*/
/* line 99, ../sass/partials/modules/_navigation.scss */
input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
/*Partners*/
/* line 4, ../sass/partials/modules/_about.scss */
.partners {
  align-items: center;
  display: flex;
  width: 85%;
  margin: 30px auto;
}

/* line 11, ../sass/partials/modules/_about.scss */
.partner-item {
  float: left;
  text-align: center;
  width: 20%;
}
/* line 15, ../sass/partials/modules/_about.scss */
.partner-item img {
  height: auto;
  max-width: 100%;
}

/* line 3, ../sass/partials/modules/_expert.scss */
.experts {
  width: 900px;
  margin: 0 auto;
}

/* line 8, ../sass/partials/modules/_expert.scss */
.experts li {
  display: inline-block;
}

/* line 12, ../sass/partials/modules/_expert.scss */
.info-experts {
  margin-bottom: 10%;
}

/* line 16, ../sass/partials/modules/_expert.scss */
.img-experts-right {
  float: right;
  margin: 30px 0;
}

/* line 21, ../sass/partials/modules/_expert.scss */
.img-experts-left {
  float: left;
}

/* line 5, ../sass/partials/modules/_gallery.scss */
.grid {
  margin: 0 auto;
  width: 90%;
}

/* line 5, ../sass/partials/modules/_games.scss */
.text-games {
  margin-bottom: 2%;
}

/* line 9, ../sass/partials/modules/_games.scss */
.content-banners-games {
  margin: 5%;
  text-align: center;
}

/* line 14, ../sass/partials/modules/_games.scss */
.cont-game {
  width: 36%;
  max-width: 100%;
  height: 200px;
  display: inline-block;
  margin: 1%;
  color: #fff;
}

/* line 23, ../sass/partials/modules/_games.scss */
.banner-game-one {
  background-color: #4DB558;
}

/* line 27, ../sass/partials/modules/_games.scss */
.banner-game-two {
  background-color: #ADDADD;
}

/* line 31, ../sass/partials/modules/_games.scss */
.banner-game-three {
  background-color: #F59331;
}

/* line 35, ../sass/partials/modules/_games.scss */
.banner-game-four {
  background-color: #d65f21;
}

/* line 39, ../sass/partials/modules/_games.scss */
.overlay-games {
  width: 94%;
  height: 180px;
  max-width: 100%;
  margin-left: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
  margin-top: 9.5px;
}
/* line 48, ../sass/partials/modules/_games.scss */
.overlay-games:hover {
  background-color: rgba(0, 0, 0, 0);
  width: 94%;
  height: 180px;
  display: block;
  box-shadow: none;
}

/* line 57, ../sass/partials/modules/_games.scss */
.overlay-games-text {
  font-size: 2rem;
  float: left;
  width: 99%;
  margin-top: 98px;
}

/* line 64, ../sass/partials/modules/_games.scss */
.games-link {
  text-decoration: none;
  color: #fff;
}

/* line 69, ../sass/partials/modules/_games.scss */
.img-games-button {
  width: 8%;
  display: inline-block;
  height: 140px;
  position: absolute;
  margin-left: -4%;
}

/* line 5, ../sass/partials/modules/_games-pages.scss */
.info-game {
  overflow: hidden;
  margin: 100px 0;
}
/* line 8, ../sass/partials/modules/_games-pages.scss */
.info-game img {
  float: left;
  display: inline-block;
  margin: 0 10% 0 0;
  width: 40%;
}
/* line 15, ../sass/partials/modules/_games-pages.scss */
.info-game li {
  font-family: "Muli";
  font-size: 1.2rem;
  line-height: 2.5rem;
}
/* line 21, ../sass/partials/modules/_games-pages.scss */
.info-game h2 {
  margin-bottom: 20px;
}

/* line 25, ../sass/partials/modules/_games-pages.scss */
.sub-menu-games {
  display: none;
}

/* line 28, ../sass/partials/modules/_games-pages.scss */
.text-info-game {
  float: right;
  display: inline-block;
  width: 50%;
}
/* line 33, ../sass/partials/modules/_games-pages.scss */
.text-info-game h3 {
  margin: 31px 0;
}

/* line 37, ../sass/partials/modules/_games-pages.scss */
.play-game {
  margin-bottom: 20px;
}

/* line 41, ../sass/partials/modules/_games-pages.scss */
.sub-menu-games {
  display: none;
}

/* line 45, ../sass/partials/modules/_games-pages.scss */
.note-play {
  font-size: 1rem;
  text-align: center;
  font-family: "Iceland";
}
/* line 49, ../sass/partials/modules/_games-pages.scss */
.note-play span {
  text-transform: uppercase;
}

/*Estilos de los Botones*/
/* line 57, ../sass/partials/modules/_games-pages.scss */
.main {
  background: url(../img/button.png) no-repeat;
  background-size: contain;
}
/* line 60, ../sass/partials/modules/_games-pages.scss */
.main:active {
  background: url(../img/button-pressed.png) no-repeat;
  background-size: contain;
}

/* line 66, ../sass/partials/modules/_games-pages.scss */
.btn {
  width: 155px;
  height: 51px;
  margin: 0 10px;
  font-size: 1.6rem;
  display: inline-block;
  border: none;
  font-family: 'Iceland', sans-serif;
  color: #fff;
}

/* line 77, ../sass/partials/modules/_games-pages.scss */
.controls-btn {
  margin: 0 auto;
  width: 353px;
}

/* line 5, ../sass/partials/modules/_videos.scss */
.video {
  position: relative;
  padding-bottom: 56.25%;
  margin: -5% auto 0 auto;
  z-index: 1;
}

/* line 13, ../sass/partials/modules/_videos.scss */
.video iframe {
  display: inline-block;
  height: 90%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

/* line 21, ../sass/partials/modules/_videos.scss */
.video-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

/* line 29, ../sass/partials/modules/_videos.scss */
#play-btn {
  z-index: 3;
}

/* line 33, ../sass/partials/modules/_videos.scss */
#play-btn-label {
  color: orange;
  display: block;
  font-family: "Iceland", serif;
  font-size: 2em;
  margin: 30% 10%;
  padding: 1.5em 0 0 0;
  position: absolute;
  text-align: center;
  width: 80%;
  z-index: 3;
}

/*Responsive Styles*/
/*Menu*/
@media screen and (max-width: 1365px) {
  /* line 5, ../sass/partials/_media-queries.scss */
  .nav-item a, .lang-item a {
    font-size: 1.25rem;
  }

  /* line 9, ../sass/partials/_media-queries.scss */
  .main-nav, .lang-toggle {
    margin-top: 2%;
  }
}
@media screen and (max-width: 1023px) {
  /* line 15, ../sass/partials/_media-queries.scss */
  header nav, .nav-logo {
    display: none;
  }

  /* line 19, ../sass/partials/_media-queries.scss */
  header nav, .main-nav, .nav-item {
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* line 27, ../sass/partials/_media-queries.scss */
  header nav {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
  }

  /* line 32, ../sass/partials/_media-queries.scss */
  .nav-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 0;
  }

  /* line 37, ../sass/partials/_media-queries.scss */
  .nav-item a {
    font-size: 2rem;
  }

  /* line 41, ../sass/partials/_media-queries.scss */
  .lang-toggle {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* line 48, ../sass/partials/_media-queries.scss */
  .lang-item {
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 50%;
  }

  /* line 57, ../sass/partials/_media-queries.scss */
  .lang-item a {
    font-size: 2rem;
  }

  /* line 61, ../sass/partials/_media-queries.scss */
  .lang-item:first-child {
    border-right: 1px solid #f2f2f2;
  }

  /* line 65, ../sass/partials/_media-queries.scss */
  .mobile-logo {
    display: block;
  }

  /* line 69, ../sass/partials/_media-queries.scss */
  .show-menu {
    color: #f2f2f2;
    display: block;
    float: left;
    width: 40px;
    height: 43px;
    margin: 20px;
    overflow: hidden;
    background: url(../img/menu-icon.png);
    background-position: 0 43px;
  }

  /* line 81, ../sass/partials/_media-queries.scss */
  input[type="checkbox"]:checked + label {
    -webkit-animation: MOVE-BG 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  }

  @-webkit-keyframes MOVE-BG {
    /* line 88, ../sass/partials/_media-queries.scss */
    0% {
      background-position: 0 43px;
    }

    /* line 89, ../sass/partials/_media-queries.scss */
    100% {
      background-position: 0 83px;
    }
}

  /* line 92, ../sass/partials/_media-queries.scss */
  input[type=checkbox]:checked ~ nav {
    display: block;
  }
}
/*Fin Menu*/
/*Expert*/
@media screen and (max-width: 920px) {
  /* line 103, ../sass/partials/_media-queries.scss */
  .experts {
    width: inherit;
    margin: 0 5%;
  }

  /* line 108, ../sass/partials/_media-queries.scss */
  .info-experts {
    width: 100%;
    margin-bottom: 2%;
  }

  /* line 113, ../sass/partials/_media-queries.scss */
  .img-experts-right, .img-experts-left {
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-device-width: 384px) {
  /* line 123, ../sass/partials/_media-queries.scss */
  .experts {
    width: inherit;
    margin: 0 5%;
  }

  /* line 128, ../sass/partials/_media-queries.scss */
  .info-experts {
    width: 100%;
    margin-bottom: 2%;
  }

  /* line 133, ../sass/partials/_media-queries.scss */
  .img-experts-right, .img-experts-left {
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
    width: 350px;
  }
}
/*Fin Expert*/
/*Games*/
@media screen and (max-width: 1365px) {
  /* line 147, ../sass/partials/_media-queries.scss */
  .overlay-games {
    width: 336px;
  }
  /* line 149, ../sass/partials/_media-queries.scss */
  .overlay-games:hover {
    width: 336px;
  }

  /* line 153, ../sass/partials/_media-queries.scss */
  .cont-game {
    width: 360px;
  }
}
@media screen and (max-width: 1023px) {
  /* line 158, ../sass/partials/_media-queries.scss */
  .overlay-games {
    width: 256px;
  }
  /* line 160, ../sass/partials/_media-queries.scss */
  .overlay-games:hover {
    width: 256px;
  }

  /* line 164, ../sass/partials/_media-queries.scss */
  .cont-game {
    width: 280px;
  }

  /* line 167, ../sass/partials/_media-queries.scss */
  .overlay-games-text {
    font-size: 1.5rem;
  }
}
@media only screen and (max-device-width: 768px) {
  /* line 173, ../sass/partials/_media-queries.scss */
  .cont-game {
    width: 93%;
  }

  /* line 176, ../sass/partials/_media-queries.scss */
  .overlay-games {
    width: 96%;
  }
  /* line 179, ../sass/partials/_media-queries.scss */
  .overlay-games:hover {
    width: 96%;
  }
}
/*Fin Games*/
/*Games Pages*/
@media only screen and (max-device-width: 768px) {
  /* line 194, ../sass/partials/_media-queries.scss */
  .play-game, .note-play {
    display: none;
  }

  /* line 198, ../sass/partials/_media-queries.scss */
  .info-game {
    margin: 0;
    overflow: hidden;
  }
  /* line 202, ../sass/partials/_media-queries.scss */
  .info-game img {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
  }
  /* line 207, ../sass/partials/_media-queries.scss */
  .info-game li {
    font-family: "Muli";
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  /* line 212, ../sass/partials/_media-queries.scss */
  .info-game h2 {
    margin: 20px 0;
  }

  /* line 217, ../sass/partials/_media-queries.scss */
  .text-info-game {
    float: left;
    display: inline-block;
    width: 100%;
  }
  /* line 222, ../sass/partials/_media-queries.scss */
  .text-info-game h3 {
    margin: 31px 0;
  }
}
/*Fin Games Pages*/
