footer {
    background: #353535;
    background-image: url(../img/background-general.gif);
    margin-top: 5%;
    overflow: hidden;
    padding: 4% 0;
    text-align: center;
}

.header {
    background: #000 url(../img/background-general.gif);
    border-bottom: 6px solid #ff6e3a;
    overflow: hidden;
    width: 100%;
}
