button:focus,
button:active {
    outline: 0;
}

.btn {
    border: none;
    display: inline-block;
    font-size: 1.6rem;
}

.btn-show-menu {
    background-position: -390px -208px;
    color: #f2f2f2;
    font-family: $title-text;
    font-size: 24px;
    height: 54px;
    overflow: hidden;
    padding: 13px 0 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 95px;
    z-index: 10;

    @media screen and (min-width: $m-width) {
        display: none;
    }
}

@media (min-width: 1024px) {
    .btn-play-game {
        background-position: -173px 0;
        color: #fff;
        display: inline-block;
        font-family: $title-text;
        font-size: 3rem;
        height: 51px;
        padding-top: 8px;
        text-align: center;
        text-decoration: none;
        width: 155px;

        &:hover {
            background-position: -219px -102px;
        }
    }
}