button:focus,
button:active {
    outline: 0;
}

.btn {
    border: none;
    display: inline-block;
    font-size: 1.6rem;
}

.btn-show-menu {
    background-position: -390px -208px;
    color: #f2f2f2;
    font-family: $title-text;
    font-size: 24px;
    height: 54px;
    overflow: hidden;
    padding: 13px 0 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 95px;
    z-index: 10;

    @media screen and (min-width: $m-width) {
        display: none;
    }
}

.btn-play {
    background-position: -385px 0px;
    height: 56px;
    width: 59px;

    @media(min-width: 640px) {
        background-position: -402px -60px;
        height: 90px;
        width: 103px;
    }
}

.btn-play-demo {
    background-color: transparent;
    border: 0;
    color: transparent;
    left: 45%;
    position: absolute;
    top: 45%;
    z-index: 3;

    @media(min-width: $m-width) {

    }
}

.btn-play-gallery {
    background-color: transparent;
    border: 0;
    color: transparent;
    display: block;
    margin: 0 auto;
    z-index: 3;
}

@media (min-width: $m-width) {
    .btn-play-game {
        background-position: -173px 0;
        color: #fff;
        display: inline-block;
        font-family: $title-text;
        font-size: 3rem;
        height: 51px;
        padding-top: 8px;
        text-align: center;
        text-decoration: none;
        width: 155px;

        &:hover {
            background-position: -219px -102px;
        }
    }
}
