h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-size: 4rem;
    font-family:$title-text;
}

li {
    font-size: 2rem;
    list-style: none;
}

p {
    font-size: 2rem;
    margin: 20px 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
