// 
// Estilos para los elementos base y footer
//

a {
  font-family: $title-text;
}

li{
	list-style: none;
}

ul {
  margin: 0;
  padding: 0; 
}

p {
  font-family: $text;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

h2, h3{
  font-size: 2.5rem;
  font-family:$title-text;
}

button:focus, button:active {
  outline: 0;
}

.btn {
  font-size: 1.6rem;
  display: inline-block;
  border: none;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.title-main {
  color: $title-color;
	font-size:5rem;
	text-align:center;
  text-shadow: -3px 2px 0px #e8ebed;
	font-family:$title-text;
  padding: 1% 0 2% 0;
  margin-bottom: 5%;
  box-shadow:1px 4px 8px 3px rgba(0 , 0 , 0 , 0.5);
  background-image: url(../img/background-general.gif);
}

footer {
  background:#353535;
  background-image: url(../img/background-general.gif);
  text-align:center;
  overflow: hidden;
}

.text-footer {
  font-size: 1.5rem;
  font-family: "Iceland", serif;
  display: inline-block;
  width: 60%;
  color: #E8EBED;
}

.content-info-footer {
  margin: 60px 0;
}