// 
// Estilos para los elementos base y footer
//

body {
  background-color: #f4f4f4;
}

a {
  font-family: $title-text;
  text-decoration: none;
  color: #fff;
}

li{
	list-style: none;
}

ul {
  margin: 0;
  padding: 0; 
}

p {
  font-family: $text;
  font-size: 1.2rem;
  margin: 20px 0; 
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

h2, h3{
  font-size: 2.5rem;
  font-family:$title-text;
}

button:focus, button:active {
  outline: 0;
}

.btn {
  font-size: 1.6rem;
  display: inline-block;
  border: none;
}

.content {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  @media (min-width: 1334px)  {
    width: 50%;
  }
}

.title-main {
  color: $title-color;
	font-size:5rem;
	text-align:center;
  text-shadow: -3px 2px 0px #e8ebed;
	font-family:$title-text;
  padding: 1% 0 2% 0;
  margin-bottom: 1.5%;
  border-bottom: 6px solid #359e97;
  background-image: url(../img/background-general.gif);
}

.style-img {
  border: 5px solid #359e97;
  box-shadow: 10px 10px 0px 0px #359e97;
}

footer {
  background:#353535;
  background-image: url(../img/background-general.gif);
  text-align:center;
  overflow: hidden;
}

.text-footer {
  font-size: 1.5rem;
  font-family: "Iceland", serif;
  display: inline-block;
  width: 80%;
  color: #E8EBED;
}

.content-info-footer {
  margin: 60px 0;
}

.gallery {
  width: 85%;
  margin: 4% auto;
}