//
// Estilos para los elementos base y footer
//
html {
  box-sizing:border-box;
  font-size:62.5%;
  font-family: Arial,Verdana,sans-serif;
}
  *, *:before, *:after{
  box-sizing:inherit;

}

body {
  background-color: #f4f4f4;
}

a {
  font-family: $title-text;
  text-decoration: none;
  color: #fff;
}

li{
	list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  font-family: $text;
  font-size: 2rem;
  margin: 20px 0;
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

h2, h3{
  font-size: 4rem;
  font-family:$title-text;
}

button:focus, button:active {
  outline: 0;
}

.btn {
  font-size: 1.6rem;
  display: inline-block;
  border: none;
}

.content {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  @media (min-width: 1334px){
    width: 50%;
  }
}

.title-main {
  color: #359E97;
	font-size: 9rem;
	text-align:center;
  text-shadow: -4px 4px 0 #000;
	font-family:$title-text;
  border-bottom: 3px solid #359E97;
  margin: 8%;
  padding-bottom: 10px;
  @media (min-width: 1334px){
    margin: 2% auto;
    font-size: 10rem;
    width: 70%;
  }
}

footer {
  background: #353535;
  background-image: url(../img/background-general.gif);
  text-align: center;
  overflow: hidden;
  margin-top: 5%;
  padding: 4% 0;
}

.text-footer {
  display: inline-block;
  width: 90%;
  @media (min-width: 1334px){
    width: 60%;
  }
  color: #E8EBED;
  p {
    font-family: $title-text;
    font-size: 2.3rem;
    @media (min-width: 1334px){
      width: 64%;
      margin: 0 auto;
    }
  }
  .strong {
    font-size: 3rem;
    color: #FD7949;
  }
  @media (min-width: 1334px){
    &:after {
      content: "";
      @include sprite;
      @include sprite-astronaut;
      margin-top: -100px;
      float: right;
    }
    &:before {
      content: "";
      @include sprite;
      @include sprite-planet;
      float: left;
      margin-top: -87px;
    }
  }
}

.content-info-footer {
  margin: 60px 0;
}

.gallery {
  width: 85%;
  margin: 4% auto;
  @media (min-width: 1334px){
    width: 75%;
  }
}
