/*Responsive Styles*/

/*Menu*/
@media screen and (max-width: 1365px){
	.nav-item a, .lang-item a{
		font-size: 1.25rem;
	}

	.main-nav, .lang-toggle{
		margin-top: 2%;
	}
}

@media screen and (max-width: 1023px){
	header nav, .nav-logo{
		display: none;
	}

	header nav, .main-nav, .nav-item{
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	header nav{
		background-color: rgba(0,0,0,0.7);
		height: auto;
	}

	.nav-item{
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0;
	}

	.nav-item a{
		font-size: 2rem;
	}

	.lang-toggle{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.lang-item{
		border-bottom: 1px solid #f2f2f2;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		width: 50%;
	}

	.lang-item a{
		font-size: 2rem;
	}

	.lang-item:first-child{
		border-right: 1px solid #f2f2f2;
	}

	.mobile-logo{
		display: block;
	}

	.show-menu {
    color: #f2f2f2;
    display: block;
    float: left;
    width: 40px;
    height: 43px;
    margin: 20px;
    overflow: hidden;
    background: url(../img/menu-icon.png);
    background-position: 0 43px; 
  }

  input[type="checkbox"]:checked + label {
    -webkit-animation: MOVE-BG 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  }

  @-webkit-keyframes MOVE-BG {
    0% { background-position: 0 43px;  }
    100% { background-position: 0 83px;  }
  }

  input[type=checkbox]:checked ~ nav{
      display: block;
  }

}
/*Fin Menu*/

/*Expert*/

@media screen and (max-width: 920px)  {

  .experts {
    width: inherit;
    margin: 0 5%;
  }

  .info-experts {
    width: 100%;
    margin-bottom: 2%;
  }

  .img-experts-right, .img-experts-left{
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 384px) {

  .experts {
    width: inherit;
    margin: 0 5%;
  }

  .info-experts {
    width: 100%;
    margin-bottom: 2%;
  }

  .img-experts-right, .img-experts-left{
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
    width: 350px;
  }
}

/*Fin Expert*/

/*Games*/

@media screen and (max-width: 1365px){
.overlay-games {
	 width: 336px;
	 &:hover {
	 	width: 336px;
	 }
}
.cont-game {
	width: 360px;
}
}
@media screen and (max-width: 1023px) {
.overlay-games {
	 width: 256px;
	 &:hover {
	 	width: 256px;
	 }
}
.cont-game {
	width: 280px;
}
.overlay-games-text {
	font-size: 1.5rem;
}
}

@media only screen and (max-device-width: 768px){
 	.cont-game {
 		width: 93%;
 	}
 	.overlay-games {
 		width: 96%;

 		&:hover {
 		  width: 96%;
 		}
 	}
}

/*Fin Games*/

/*Games Pages*/

@media (min-width: 768px){

}

@media only screen and (max-device-width: 768px){
  .play-game, .note-play {
    display: none;
  }

    .info-game{ 
    margin: 0;
    overflow: hidden;
    
    img{
      display: inline-block;
      margin-top: 5%;
      width: 100%;
    }
    li{
      font-family: "Muli";
       font-size: 1.2rem;
       line-height: 2.5rem;
    } 
    h2 {
      margin: 20px 0;
    }
  }

  .text-info-game{
    float: left;
      display: inline-block;
      width: 100%;
      
      h3{
        margin: 31px 0;
    }
  }


}

/*Fin Games Pages*/