/*Responsive Styles*/

/*Menu*/
@media screen and (max-width: 1365px){
	.nav-item a, .lang-item a{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1023px){
	header nav, .nav-logo{
		display: none;
	}

	header nav, .main-nav, .nav-item{
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	header nav{
		background-color: #353535;
		height: auto;
	}

	.nav-item{
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0;
	}

	.nav-item a{
		font-size: 2rem;
	}

	.lang-toggle{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.lang-item{
		border-bottom: 1px solid #f2f2f2;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		width: 50%;
	}

	.lang-item a{
		font-size: 2rem;
	}

	.lang-item:first-child{
		border-right: 1px solid #f2f2f2;
	}

	.mobile-logo{
		display: block;
	}

	.show-menu {
		background: url(../img/menu-icon.svg) no-repeat center center;
		display: block;
		font-size: 2rem;
		margin: 0 auto;
	}

	input[type=checkbox]:checked ~ nav{
		display: block;
	}
}

/*Fin Menu*/

/*Expert*/

@media screen and (max-width: 1023px) {
  .margin-extra-experts {
    margin: 0 0 0 7%;
  }
  .move-left-image {
    margin: 0 0 0 7%;
  }
  .img-experts {
    margin: 0 7% 0 0;
  }
  .content-text-experts {
    margin: 0 0 0 7%;
  }
}

@media screen and (max-width: 768px) {
  .img-experts {
    margin: 0 23% 0 0;
    margin-bottom: 40px;
  }
  .content-text-experts {
    margin: 0 0 0 17%;
    margin-top: 6%;
    width:75%;
  }
  .name-experts {
    display: inline-block;
  }
  .move-left-image {
    margin: 0 0 0 32%;
  }
  .info-experts {
	margin-bottom: 8%;
	overflow: hidden;
	max-width: 680px;
	text-align: center;
	width: 95%;
	margin-bottom:12px;

	  p {
	  	text-align: center;
	    margin-bottom: 45px;
	  }
	}
   .img-experts-right {
   	float: none;
   	margin-bottom: 40px;
   }
}
/*Fin Expert*/

/*Games*/

@media screen and (max-width: 1365px){
.overlay-games {
	 width: 336px;
	 &:hover {
	 	width: 336px;
	 }
}
.cont-game {
	width: 360px;
}
}
@media screen and (max-width: 1023px) {
.overlay-games {
	 width: 256px;
	 &:hover {
	 	width: 256px;
	 }
}
.cont-game {
	width: 280px;
}
.overlay-games-text {
	font-size: 1.5rem;
}
}
@media screen and (max-width:768px){
 	.cont-game {
 		width: 93%;
 	}
 	.overlay-games {
 		width: 95%;

 		&:hover {
 		  width: 95%;
 		}
 	}
}

/*Fin Games*/

/*Games Pages*/

@media (min-width: 1365px){
	.btn{
    		width: 155px;
    		height: 51px;
    		margin: 0 10px;
    		font-size: 1.6rem;
	}

	.controls-btn{
		width: 353px;
	}
}

@media (min-width: 1023px){
	
}

/*Fin Games Pages*/