/*Responsive Styles*/
/* Breakpoints max-width: 1365px / 1250px / 1023px / 920px / 768px / 384px*/


@media screen and (max-width: 1365px){

  .content {
    width: 80%;
  }

  /*Menu*/

	.nav-item a, .lang-item a{
		font-size: 1.25rem;
	}

	.main-nav, .lang-toggle{
		margin-top: 2%;
	}

  /*Games*/

  .overlay-games {
    width: 336px;
    &:hover {
      width: 336px;
    }
  }
  .cont-game {
    width: 360px;
  }

  /*Games Pages*/
  .img-game{
    float: left;
  }
}

@media screen and (max-width: 1250px){

  /*Gallery*/

  .grid {
    width: 72%;
  }

  /*Games Pages*/

  .info-game h2 {
    font-size: 2rem;
  }

  .play-game, .note-play {
    display: none;
  }

  .info-game{ 
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    li{
      font-family: "Muli";
       font-size: 1.2rem;
       line-height: 2.5rem;
    } 
    h2 {
      margin: 20px 0;
    }
  }

  .img-game{
    width:100%;
  }

  .text-info-game{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    h3{
      margin: 31px 0;
    }
  }

}

@media screen and (max-width: 1023px){
    
  /*Menu*/

	header nav, .nav-logo{
		display: none;
	}

	header nav, .main-nav, .nav-item{
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	header nav{
		background-color: rgba(0,0,0,0.7);
		height: auto;
	}

  .header-logo {
    width: 80%;
    margin: 20% auto 13% auto;
  }

	.nav-item{
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0;
	}

	.nav-item a{
		font-size: 2rem;
	}

	.lang-toggle{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.lang-item{
		border-bottom: 1px solid #f2f2f2;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		width: 50%;
	}

	.lang-item a{
		font-size: 2rem;
	}

	.lang-item:first-child{
		border-right: 1px solid #f2f2f2;
	}

	.mobile-logo{
		display: block;
    margin: 20px;
    text-align: center;
    width: 45px;
    float: left;

    img{
      height: 100%;
      width: 100%;
    }
	}

	.show-menu {
    color: #f2f2f2;
    display: block;
    float: right;
    width: 20px;
    height: 22px;
    margin: 20px;
    overflow: hidden;
    background: url(../img/menu-icon.png);
    background-position: 0 22px; 
  }

  input[type="checkbox"]:checked + label {
    -webkit-animation: MOVE-BG 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  }

  @-webkit-keyframes MOVE-BG {
    0% { background-position: 0 22px;  }
    100% { background-position: 0 42.1px;  }
  }

  input[type=checkbox]:checked ~ nav{
      display: block;
  }

  /*Games*/

  .overlay-games {
    width: 256px;
    &:hover {
      width: 256px;
    }
  }
  .cont-game {
    width: 280px;
  }
  .overlay-games-text {
    font-size: 1.5rem;
  }

  /*Gallery*/

  .grid {
    width: 90%;
  }

  /*Games Pages*/

  .info-game h2 {
    font-size: 2rem;
  }

  .play-game, .note-play {
    display: none;
  }

  .info-game{ 
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    li{
      font-family: "Muli";
       font-size: 1.2rem;
       line-height: 2.5rem;
    } 
    h2 {
      margin: 20px 0;
    }
  }

  .img-game{
    width: 100%;
    img{
      margin-bottom: 30px;
    }
  }

  .text-info-game{
    float: right;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    h3{
      margin: 31px 0;
    }
  }
}



@media screen and (max-width: 920px)  {
  /*Expert*/

  .experts {
    width: inherit;
    margin: 0 5%;
  }

  .info-experts {
    width: 100%;
  }

  .img-experts-right, .img-experts-left{
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
  }

    /*Gallery*/

   .grid img {
    width: 49%;
  }

  #play-btn-label {
    visibility: hidden;
  }
}


@media only screen and (max-width: 768px){
  
  .play {
    width: 37px;
    height: 37px;
  }

  .img-games-button {
    display: none;
  }

  .overlay-games-text {
    float: left;
    width: 99%;
    margin-top: 67px;
  }

  .overlay-games-text {
    font-size: 2.4rem;
  }

  /*Games*/

  .cont-game {
    width: 93%;
  }

  .overlay-games {
    width: 96%;

    &:hover {
      width: 96%;
    }
  }

  .text-games {
    margin: 10% auto;
  }

  /*Footer*/

  .text-footer {
    font-size: 1.4rem;
    width: 80%;
  }

  .content-info-footer {
    margin: 60px 0;
  }

}

@media only screen and (max-width: 384px) {

  /*Expert*/

  .experts {
    width: inherit;
    margin: 0 5%;
  }

  .experts h3{
    margin: 3%;
  }

  .info-experts {
    width: 100%;
    margin-bottom: 10%;
  }

  .img-experts-right, .img-experts-left{
    float: inherit;
    margin: inherit;
    display: block;
    margin: 0 auto;
  }

  /*Games*/

  .overlay-games {
    background: none;
    box-shadow: none;
  }

  .banner-game-one {
    background-color: #2E6D35;
  }
  .banner-game-two {
    background-color: #576E6F;
  }
  .banner-game-three {
    background-color: #7B4A19;
  }
  .banner-game-four {
    background-color: #6C3011;
  }
}