%sprite,
.sprite {
    background-image: url( "../img/sprite.png" );
    background-repeat: no-repeat;
}

@mixin sprite {
    background-image: url( "../img/sprite.png" );
    background-repeat: no-repeat;
}

@mixin sprite-arrow {
    background-position: 0 -102px;
    height: 17px;
    width: 15px;
}

@mixin sprite-arrow-hover {
    background-position: 0 -121px;
    height: 17px;
    width: 15px;
}

@mixin sprite-gem {
    background-position: -15px -102px;
    width: 17px;
    height: 25px;
}

@mixin sprite-astronaut {
    background-position: -93px 0;
    width: 80px;
    height: 102px;
}

@mixin sprite-planet {
    background-position: 0 0;
    height: 94px;
    width: 93px;
}

@mixin sprite-control {
    background-position: -125px -102px;
    height: 39px;
    width: 50px;
}

@mixin sprite-ship {
    background-position: -77px -102px;
    height: 35px;
    width: 48px;
}

@mixin sprite-trophy {
    background-position: -37px -102px;
    height: 29px;
    width: 40px;
}

@mixin sprite-invader {
    background-position: -175px -102px;
    height: 44px;
    width: 44px;
}

.sprite-sorry {
    background-position: 0 -627px;
}

.sprite-trash {
    background-position: 0 -418px;
}

.sprite-bg-nav {
    background-position: 0 -153px;
}

.sprite-bg-subnav {
    background-position: 0 -1045px;
}

.sprite-last {
    background-position: 0 -836px;
}

.sprite-owak {
    background-position: 0 -209px;
}

@mixin sprite-button-play {
    background-position: -402px -60px;
    height: 90px;
    width: 103px;
}

@mixin sprite-button-play-mobile {
    background-position: -385px 0px;
    height: 56px;
    width: 59px;
}
