@mixin sprite {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}

@mixin sprite-arrow {
  background-position: 0 -102px;
  height: 17px;
  width: 15px;
}

@mixin sprite-invader-small {
  background-position: -15px -102px;
  width: 22px;
  height: 22px;
}

@mixin sprite-button-pressed {
  background-position: -219px -102px;
  width: 155px;
  height: 40px;
}


@mixin sprite-astronaut {
  background-position: -93px 0;
  width: 80px;
  height: 102px;
}

@mixin sprite-planet {
  background-position: 0 0;
  width: 93px;
  height: 94px;
}

@mixin sprite-control {
  background-position: -125px -102px;
  width: 50px;
  height: 39px;
}

@mixin sprite-ship {
  background-position: -77px -102px;
  width: 48px;
  height: 35px;
}

@mixin sprite-trophy {
  background-position: -37px -102px;
  width: 40px;
  height: 29px;
}

@mixin sprite-invader {
  background-position: -175px -102px;
  width: 44px;
  height: 44px;
}

.sprite-sorry {
  background-position: 0 -627px;
}

.sprite-trash {
  background-position: 0 -418px;
}

.sprite-bg-nav {
  background-position: 0 -153px;
}

.sprite-bg-subnav {
  background-position: 0 -1045px;
}

.sprite-last {
  background-position: 0 -836px;
}

.sprite-owak {
  background-position: 0 -209px;
}

.sprite-button {
  background-position: -173px 0;
  width: 155px;
  height: 40px;
}

@mixin sprite-button-play {
  background-position: -328px 0;
  height: 75px;
  width: 178px;
}