%sprite,
.sprite {
    background-image: url( "../img/sprite.png" );
    background-repeat: no-repeat;
}

.sprite-sorry {
    background-position: 0 -627px;
}

.sprite-trash {
    background-position: 0 -418px;
}


.sprite-last {
    background-position: 0 -836px;
}

.sprite-owak {
    background-position: 0 -209px;
}