// 
// Variables
//

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Iceland|Muli);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// Font 
$title-videos: 'Press Start 2P', 'Iceland';
$title-text: 'Iceland', serif;
$text: 'Muli', sans-serif;

// Colors

$title-color: #359e97;
$title-demos: #d2643b;


//width
$link-colors: #fff;
$max-width: 1280px;
