// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Iceland|Muli);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// Font
$text: "Muli", sans-serif;
$title-text: "Iceland", serif;
$title-videos: "Press Start 2P", "Iceland";

// Colors
$grey: #f4f4f4;
$link-colors: #fff;
$title-color: #359e97;
$title-demos: #d2643b;

//width
$max-width: 1280px;
