
.about {
  background-color: #fff;
  overflow: hidden;
}

/*Partners*/

.partners{
  align-items: center;
  display: flex;
  width: 55%;
  margin: 15px auto;
}

.partner-item{
  float: left;
  text-align: center;
  width: 20%;
  img{
    height: auto;
    max-width: 100%;
    width: 81%;
    margin-top: 8px;
  }
}
.firts-text {
  font-size: 1.5rem;
  margin-top: 4%;
}
.overlay-about {
  background: #f4f4f4;
  display: inline-block;
  height: 327px;
}
