
/*Partners*/

.partners{
  align-items: center;
  display: flex;
  width: 85%;
  margin: 30px auto;
}

.partner-item{
  float: left;
  text-align: center;
  width: 20%;
  img{
    height: auto;
    max-width: 100%;
  }
}