//
// Estilos de Expertos
.experts {
	max-width:$max-width;
	margin:0 auto;	
}
.info-experts {
  width: 100%;
  display: inline-block;
  margin-bottom: 45px;
}
.content-text-experts {
  width: 50%;
  display: inline-block;
  float: left;
}
.content-text-experts:nth-child(2n-1) {
	float:right;
  margin: 0px 49px;
  display: inline-block;
}
.move-left {
	float: left;
}
.move-left-image {
	float: left;
  width: 502px;
  height: 458px;
  max-width: 100%;
}
.name-experts {
	font-size:2.5rem;
	font-family:$title-text;
}
.text-experts {
	font-size:1.5rem;
	font-family:$text;
	display:inline-block;
}
.img-experts {
   width: 502px;
   height: 458px;
   max-width: 100%;
   float: right;
}
.content-img-experts {
  width: 50%;
  display: inline-block;
}
