//
// Estilos de Expertos
.experts {
  max-width: $max-width;
}

.info-experts {
  margin-bottom: 8%;
  overflow: hidden;
}

.info-experts h3 {
  margin-bottom: 2%;
}

.name-experts {
  text-align: right;
}

.name-experts + p {
  text-align: right;
}

.img-experts-right {
  max-width: 100%;
  float: left;
  margin: 0 2% 0 0;
}

.img-experts {
  max-width: 100%;
  float: right;
  margin: 0 0 5% 2%;
}