// Estilos de Expertos
.experts-list {
    margin: 0 auto;
    width: 80%;

    @media (min-width: 1024px) {
        margin: 90px auto;
        width: 900px;

        &:before {
            content: "";
            margin-left: -22px;
            margin-top: -52px;
            position: absolute;
            @include sprite;
            @include sprite-ship;
        }

        &:after {
            content: "";
            margin-left: -22px;
            margin-top: 11px;
            position: absolute;
            @include sprite;
            @include sprite-invader;
        }
    }
}

.experts-list-item {
    overflow: hidden;
    padding: 0 0 10%;

    @media (min-width: 1024px) {
        border-left: 3px dashed #359E97;
        padding: 0 0 0 45px;
    }
}

.experts-list-item h3 {
    margin: 20px 0;

    @media (min-width: 1024px) {
        &:before{
            content: "";
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            @include sprite;
            @include sprite-trophy;
        }
    }
}

.expert-img {
    display: block;
    margin: 0 auto;

    @media (min-width: 1024px) {
        display: inherit;
        float: right;
        margin: 10px;
    }
}

.middle img {
    display: block;
    margin: 0 auto;

    @media (min-width: 1024px)  {
        display: inherit;
        float: left;
        margin: 10px;
    }
}

@media (min-width: 1024px) {
    .middle {
        border: 3px dashed #359E97;
        border-left: none;
        margin: 18px 0;
        padding: 45px 0;
    }
    .middle p,
    .middle h3 {
        margin-left: 31%;
    }
    .experts-list-item p {
        width: 70%;
    }
}

.experts-item-img {
    border: 5px solid #359e97;
    box-shadow: 10px 10px 0 0 #359e97;
}