// 
// Games Pages
//

  .play-game, .note-play {
    display: none;
    @media (min-width: 1024px){
      display: block;
    }
  }

  .info-game{ 
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    li{
      font-family: "Muli";
       font-size: 1.2rem;
       line-height: 2.5rem;
    } 
    h2 {
      margin: 20px 0;
      @media (min-width: 1024px){
        font-size: 2rem;
      }
    }
  }

  .img-game img{
        width: 100%;
        @media (min-width: 1024px){
          border: 5px solid #359e97;
          box-shadow: 10px 10px 0px 0px #359e97;
          margin-bottom: 20px;
      }
  }

  .img-game{
    width:100%;
    @media (min-width: 1024px){
      float: left;
      width: 50%;
      h3{
        margin: 3% 0;
      }
      ul {
        float: left;
        margin-right: 20%;
      }
    } 
    h3{
      color: #359e97;
      font-size: 30px;
    }
  }

  .text-info-game{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    @media (min-width: 1024px){
      float: right;
      width: 45%;
      margin-left: 5%;
    }
    h3{
      margin: 31px 0;
      color: #359e97;
      font-size: 30px;
    }
    h2{
      color: #D2643B;
    }
  }

@media (min-width: 1024px){

  .content-demo-info{
    margin: 5% 0;
  }

  .play-game{
    margin-top: 8%;
  }

  .note-play{
    font-size: 1rem;
    margin-top: 1.2%;
    font-family: "Iceland";
    span{
    text-transform: uppercase;
    }
  }
}

/*Estilos de los Botones*/

.main{
  background: url(../img/button.png) no-repeat;
  background-size: contain;
  width: 155px;
  height: 51px;
  font-family: 'Iceland', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding-top: 11px;

  &:active{
    background: url(../img/button-pressed.png) no-repeat;
    background-size: contain;
  }
}

