//
// Estilos de Juegos
//

.text-games {
  margin: 2% auto;
}

.content-banners-games {
  width: 70%;
  margin: 4% auto;
	text-align: center;
}

.cont-game {
	width: 36%;
	max-width: 100%;
	height: 200px;
	display: inline-block;
	margin: 1%;
	color:#fff;
}

.banner-game-one {
	background-color: #4DB558;
}

.banner-game-two {
	background-color: #ADDADD;	
}

.banner-game-three {
	background-color: #F59331;	
}

.banner-game-four {
	background-color: #d65f21;	
}

.overlay-games { 
  width: 93%;
  height: 88%;
  max-width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
  margin: 2.4% auto;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    width: 94%;
    height: 180px;
    display: block;
    box-shadow: none;
  }
}

.overlay-games-text {
  font-size: 2rem;
  float: left;
  width: 99%;
  margin-top: 98px;
}

.games-link {
	text-decoration: none;
	color: #fff;
}

.img-games-button {
    width: 8%;
    display: inline-block;
    height: 140px;
    position: absolute;
    margin-left: -4%;
}