// Estilos de Juegos
.games-banners {
    margin: 0 auto;
    max-width: 415px;

    @media (min-width: 1024px) {
        max-width: 875px;
    }
}

.games-banners-content {
    color: #fff;
    display: inline-block;
    height: 222px;
    margin: 0 0 10px 0;
    max-width: 410px;
    overflow: hidden;
    width: 100%;

    @media (min-width: 1024px) {
        margin: 10px;
    }
}

.games-banners-name {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @media  (min-width: 1024px) {
        &:before{
            @include sprite;
            @include sprite-control;
            content: "";
            display: block;
            margin: 0 auto;
        }
    }
}

.game-color-one {
    background-color: #4DB558;
}

.game-color-two {
	background-color:#4E9093;
}

.game-color-three {
	background-color:#F59331 ;
}

.game-color-four {
	background-color:#d65f21;
}

.games-banners-overlay {
    @include sprite;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
    display: block;
    height: 91%;
    margin: 2.4% auto;
    max-width: 100%;
    text-align: center;
    width: 94%;

    &:hover {
        background-color: rgba(0, 0, 0, .4);
        box-shadow: none;
    }
}
