// 
// Games Pages
//

.demo {
    @media (min-width: 1024px) {
        margin: 2% 0;
    }
}

.demo-content-text {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    @media (min-width: 1024px) {
        float: right;
        font-size: 1.8rem;
        margin-left: 5%;
        width: 45%;
    }
    h3 {
        color: $title-color;
        font-size: 2rem;
        margin: 31px 0;
    }
    h2 {
        color: $title-demos;
        font-size: 2.8rem;
        margin: 10px 0;
    }
}

.demo-content-play {
    @media (min-width: 1024px) {
        margin-top: 80px;
    }
}

.demo-content-play, .demo-play-note {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}

.demo-play-note {
    @media (min-width: 1024px) {
        font-family: $title-text;
        font-size: 2rem;
        margin-top: 15px;
        span{
            text-transform: uppercase;
        }
    }
}

.demo-content { 
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    li {
        font-family: $text;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
}

.demo-content-team li:before {
    @include sprite-invader-small;
    @include sprite;
    content: "";
    display: inline-block;
    margin-right: 17px;
    vertical-align: sub;

}

.demo-content-team img {
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: 1024px) {
          border: 5px solid $title-color;
          box-shadow: 10px 10px 0 0 $title-color;
    }
}

.demo-content-team {
    margin-bottom: 50px;
    width:100%;
    h3 {
        color: $title-color;
        font-size: 4rem;
        margin-bottom: 15px;
    }
    li {
        font-size: 1.6rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }
    @media (min-width: 1024px) {
        float: left;
        width: 50%;
        h3 {
            margin: 3% 0;
        }
        ul {
            float: left;
            margin-right: 10%;
        }
        li{
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 5px;
        }
    }
}

/*Estilos de los Botones*/

.main {
    @media (min-width: 1024px) {
        @include sprite;
        color: #fff;
        display: inline-block;
        font-family: $title-text;
        text-align: center;
        text-decoration: none;
        padding-top: 8px;
        font-size: 3rem;
    }
}