// Games Pages
.header-games{
    border: 0;

    @media screen and (min-width: 1024px) {
        height: 95px;
    }
}

.demo {
    @media (min-width: 1024px) {
        margin: 2% 0;
    }
}

.demo-content-text {
    display: inline-block;
    margin: 0 0 30px;
    width: 100%;

    @media (min-width: 1024px) {
        float: right;
        font-size: 1.8rem;
        margin: 0 0 0 5%;
        width: 45%;
    }

    h2 {
        color: $title-demos;
        font-size: 3.8rem;
        margin: 10px 0;
    }
    h3 {
        color: $title-color;
        font-size: 3rem;
        margin: 31px 0;
    }
}

.demo-content-play {
    @media (min-width: 1024px) {
        margin: 80px 0 0;
    }
}

.demo-content-play,
.demo-play-note {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.demo-play-note {
    @media (min-width: 1024px) {
        font-family: $title-text;
        font-size: 2rem;
        margin: 15px 0 0;

        span{
            text-transform: uppercase;
        }
    }
}

.demo-content {
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
    font-family: $text;
}

.demo-content-team li:before {
    @extend %sprite;
    background-position: -15px -102px;
    width: 17px;
    height: 25px;
    content: "";
    display: inline-block;
    margin-right: 17px;
    vertical-align: middle;
}

.demo-content-team img {
    margin: 0 0 20px;
    width: 100%;

    @media (min-width: 1024px) {
        border: 5px solid $title-color;
        box-shadow: 10px 10px 0 0 $title-color;
    }
}

.demo-content-team {
    margin: 0 0 50px;
    width: 100%;

    h3 {
        color: $title-color;
        font-size: 4rem;
        margin-bottom: 15px;
    }
    li {
        font-size: 1.6rem;
        line-height: 1.5rem;
        margin-bottom: 10px;
    }

    @media (min-width: 1024px) {
        float: left;
        width: 50%;

        h3 {
            margin: 3% 0;
        }
        li{
            line-height: 2.4rem;
            margin-bottom: 5px;
        }
        ul {
            float: left;
            margin-right: 10%;
        }
    }
}