//
// Estilos de Juegos
//

.banners-games {
  max-width: 415px;
  margin: 0 auto;
  @media (min-width: 1024px)  {
    max-width: 875px;
  }
}

.cont-game {
  width: 100%;
  max-width: 415px;
  height: 250px;
  display: inline-block;
  margin: 0 0 10px 0;
  color: #fff;
  overflow: hidden;
  @media (min-width: 1024px)  {
    margin: 10px;
  }
}
.game-name {
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: 1024px)  {
    &:before{
      content: url(../img/control.png);
      display: block;
    }
  }
}




.game-color-one {
  background-color: #4DB558;
}

.game-color-two {
	background-color:#4E9093;	
}

.game-color-three {
	background-color:#F59331 ;	
}

.game-color-four {
	background-color:#d65f21;
}

.overlay-games { 
  width: 96%;
  height: 92%;
  max-width: 100%;
  text-align: center;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
  margin: 2.4% auto;
  display: block;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
  }
}

.game-one {
  background:url(../img/last.png);
}

.game-two {
  background:url(../img/owak.png);
}

.game-three {
  background:url(../img/trash.png);
}

.game-four {
  background: url(../img/sorry.png);
}