.about {
    padding: 4% 0 4.5%;
}

.about span {
    color: #ff6e3a;
}

@media (min-width: 1024px) {
    .about p:first-child {
        font-size: 2.3rem;
    }
}

.firts-text {
    font-size: 1.5rem;
    margin: 4% 0 0;
}

.header-logo {
    display: block;
    margin: 25px auto 80px;
    width: 80%;
    max-width: 600px;

    @media (min-width: 1024px) {
        margin: 10% auto 50px;
        width: auto; // http://caniuse.com/#feat=css-initial-value
    }
}

.overlay-about {
    background: #f4f4f4;
    display: inline-block;
    height: 327px;
}

.partners {
    background-color: #fff;
    padding: 20px 20px 15px;
    text-align: center;
}

.partner-item {
    display: inline-block;

    img {
        vertical-align: middle;
        width: 60%;
    }
}