// Estilos del header y Sobre el Game Jam

header{
	background: url(../img/background-general.gif);
  box-shadow:1px 4px 8px 3px #ff6e3a;
  margin-bottom: 1%;
	overflow: hidden;
	width: 100%;
}

.header-logo{
    display: block;
    height: auto;
    margin: 12% auto 8% auto;
}