header nav{
	box-sizing: border-box;
	display: block;
	height: 150px;
	margin: 0 auto;
	padding: 10px 2%;
	width: 85%;
}

/*Navbar Styles*/

.nav-logo{
	float: left;
	height: auto;
	margin-right: 2%;
	max-width: 10%;
}

.main-nav{
	float: left;
	overflow: hidden;
	width: 65%;
}

.sub-nav{
	display: none;
	width: 100%;
	padding: 10px 0 0;
}

.nav-item{
	display: inline-block;
	float: left;
	margin: 5px 2%;

	&:hover{
		& .sub-nav{
			display: inline-block;
		}
	}
}

.sub-nav-item{
	margin: 2% 0;
	width: 100%;
}

/*Language Toggle*/

.lang-toggle{
	float: right;
	overflow: hidden;
	padding: 10px;
	width: 10%;
}

.lang-item{
	float: left;
	margin-right: 10%; 
}

.mobile-logo{
	display: none;
	margin: 20px auto;
	text-align: center;
	width: 100%;
}

/*Navigation Menu Button*/
.show-menu {
	color: #fff;
	background: rgba(255,255,255,0.5);
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Responsive Styles*/

@media (max-width: 1365px){
	
	.nav-item a, .lang-item a{
		font-size: 1.5rem;
	}
}

@media (max-width: 1023px){
	header nav, .nav-logo{
		display: none;
	}

	header nav, .main-nav, .nav-item{
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	header nav{
		background-color: #353535;
		height: auto;
	}

	.nav-item{
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0;
	}

	.lang-toggle{
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.lang-item{
		border-bottom: 1px solid #f2f2f2;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 0;
		text-align: center;
		width: 50%;
	}

	.lang-item:first-child{
		border-right: 1px solid #f2f2f2;
	}

	.mobile-logo{
		display: block;
	}

	.show-menu {
		display:block;
		background-color: #353535;
	}

	input[type=checkbox]:checked ~ nav{
		display: block;
	}
}

/*Show menu when invisible checkbox is checked*/
