/* Chrome, Safari, Opera */

header{
  overflow: hidden;
}

.sub-nav{
  -webkit-transition: height .25s linear;
  box-sizing: border-box;
  height: 0px;
  overflow: hidden;
}

.nav-item{
  border-bottom: 1px solid #f2f2f2;
  display: inline-block;
  padding: 20px 0;
  position: relative;
  &:hover .sub-nav{
    display: inline-block;
    height: 236px;
  }
}

.nav-item > a{
  color: $link-colors;
  font-size: 2rem;
  padding: 2px;
  text-decoration: none;
  text-transform: capitalize;
  &:hover{
    color: #359e97;
  }
}

.games-item:after{
  content: url(../img/arrow.png);
  display: inline-block;
  margin-left: 12px;

  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ nav{
  display: block;
}

header nav {
  display: none;
}

header nav, .main-nav, .nav-item{
  float: none;
  margin: 0;
  text-align: center;
  width: 100%;
}

header nav{
  padding: 0;
}

.nav-item a{
  font-size: 2rem;
}

.nav-item:hover .subnav{
  position: inherit;
  width: 100%;
}

.nav-logo {
  display: none;
}

.sub-nav{
  width: 100%;
}

.sub-nav-item{
  margin: 20px -6px;
  width: 100%;

  a{
    text-transform: capitalize;
  }

  &:hover a{
    color: #359e97;
    text-decoration: underline;
  }
}

.mobile-logo{
  display: block;
  margin: 20px;
  text-align: center;
  width: 45px;
  float: left;
  img{
    height: 100%;
    width: 100%;
  }
}

.show-menu {
  color: #f2f2f2;
  display: block;
  float: right;
  width: 20px;
  height: 22px;
  margin: 20px;
  overflow: hidden;
  background: url(../img/menu-icon.png);
  background-position: 0 22px; 
}

@media screen and (min-width: 1024px){
  
  .header-games{
    height: 95px;
  }
  
  header nav{
    margin: 10px 130px;
    width: 790px;
    display: block;
    position: absolute;
    z-index: 3;
  }

  .nav-logo {
    display: block;
  }

  .main-nav{
    float: left;
    margin: 0 2%;
    width: 65%;
    background: url(../img/background-nav.png) no-repeat left;
  }

  .sub-nav{
    left: 0px;
    position: absolute;
    text-align: left;
    top: 56px;
    width: 400px;
    z-index: 3;
    background: url(../img/background-subnav.png) no-repeat;
    background-size: contain;
    padding-left: 24px;
  }

  .nav-item{
    border: none;
    box-sizing: border-box;
    float: left;
    margin: 0 23px;
    padding-bottom: 29px;
    width: 123px;
  }

  .nav-item:hover {
    .subnav{
      height: 180px;
      position: absolute;
    }
  }

  .mobile-logo{
    display: none;
  }

  .nav-logo{
    float: left;
    height: auto;
    margin-top: 10px;
    max-width: 10%;
  }
  /*Navigation Menu Button*/
  .show-menu {
    display: none;
  }
}