.partners {
    padding-bottom: 4%;
    text-align: center;
}

.partner-item {
    margin-top: 55px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    img {
        vertical-align: middle;
    }
    @media (min-width: $m-width){
        display: inline-block;
        margin-right: 20px;
        margin-top: 0;
        width: auto;
    }
}

