.gallery-cover-background {
    background-image: url("../img/background-general.gif");
    background-repeat: repeat;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.play-demo {
    @include sprite;
    @include sprite-button-play-mobile;
    background-color: transparent;
    border: none;
    color: transparent;
    position: absolute;
    right: 62%;
    top: 50%;
    z-index: 3;

    @media(min-width: 640px) {
        @include sprite-button-play;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        right: 50%;
        top: 50%;
    }

    @media(min-width: 1024px) {
        bottom: 0;
        left: 0;
        right: 65%;
        top: 65%;
    }
}

.play-gallery {
    @include sprite;
    @include sprite-button-play-mobile;
    background-color: transparent;
    border: none;
    color: transparent;
    display: block;
    margin: 0 auto;
    z-index: 3;

    @media(min-width: 768px) {
        @include sprite-button-play;
    }
}

.video {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 56.25% 0;
    position: relative;
    z-index: 1;

    @media (min-width: 1024px) {
        background-color: #000;
        padding: 0;
        text-align: center;
    }
}

.video iframe {
    display: inline-block;
    height : 100%;
    margin: 0;
    position: absolute;
    width: 100%;

    @media (min-width: 1024px) {
        height: 516px;
        margin: 2% auto;
        position: inherit;
        width: 900px;
    }
}

.video-cover-demo {
    background-color: #000;
    height: 100%;
    position: absolute;
    z-index: 2;

    @media (min-width: 1024px) {
        left: 0;
        top: 0;
        width: 100%;
    }
}

.video-label-gallery {
    color: #359E97;
    display: block;
    font-family: $title-videos;
    text-align: center;
    text-shadow: 2px 2px 0 #FD7948;
    width: 100%;
    z-index: 3;

	@media(min-width: 320px) {
		font-size: 2.5em;
    	margin: 6% auto 4%;
	}

	@media(min-width: 640px) {
		font-size: 4em;
    	margin: 10% auto 6%;
	}

    @media(min-width: 768px) {
        font-size: 6em;
        line-height: 1.2em;
        margin: 12% auto 6%;
    }

    @media(min-width: 1024px) {
        font-size: 8em;
        margin: 4% auto;
        width: 70%;
    }
}

.video-label-demo {
    color: #359E97;
    display: block;
    font-family: $title-videos;
    font-size: 2em;
    line-height: 1.2em;
    margin: 0.5em;
    position: absolute;
    text-align: left;
    text-shadow: 3px 3px 0 #000;
    width: 65%;
    z-index: 3;

    @media(min-width: 640px) {
        font-size: 3.5em;
        width: 65%;
    }

    @media(min-width: 768px) {
        font-size: 4em;
        text-shadow: 5px 5px 0 #000;
        width: 70%;
    }

    @media(min-width: 1024px) {
        bottom: 0;
        font-size: 6em;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }
}

.video-button {
    height: 100%;
    width: 100%;
}
