// 
// Estilo de todos los videos
//

.play{
  width: 57px;
  height: 55px;
  background: url(../img/play-mobile.png) no-repeat;
  background-size: contain;
  border: none;
  color: transparent;
  margin: 26% 46%;
	overflow: hidden; 
	position: absolute;
	z-index: 3;
  @media (min-width: 1024px){
    left: 0;
    width: 238px;
    height: 55px;
    background: url(../img/play.png) no-repeat;
    margin: 16% 5%;
  }
}

.video{
	position: relative;
	padding-bottom: 56.25%;
	margin: -1% auto 0 auto;
	z-index: 1;
  @media (min-width: 1024px){
    padding-bottom: 0%;
    text-align: center;
    background-color: #000;
  }
}
    
    

.video iframe{
	display: inline-block;
	height: 100%;
  margin: 0 auto;
	position: absolute;
  width: 100%;
  @media (min-width: 1024px){
    margin: 0 auto;
    position: inherit;
    height: 516px;
    width: 900px;
  }
}

.video-cover{
	background-color: #000;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
  @media (min-width: 1024px){
    left: 0;
  }
}

#play-btn-label{
  font-size: 2em;
  margin: 7% 2%;
  color: #0C0A0F;
  display: block;
  font-family: $title-videos;
  width: 40%;
  text-shadow: -4px 4px 0 #369E97;
  position: absolute;
  z-index: 3;
  top: 0;
  @media (min-width: 1024px)  {
    font-size: 3em;
    margin: 7% 0;
  }
}


