// 
// Estilo de todos los videos
//

.play{
    background: url(../img/play.png);
    background-size: cover;
    border: none;
    color: transparent;
    display: run-in;
    height: 18%;
    margin: 0 45%;
    position: absolute;
    background-repeat: no-repeat;
    top: 40%;
    width: 10%;
    z-index: 3;

    @media (min-width: 1024px){
        background: url(../img/play.png);
        background-size: cover;
        height: 6em;
        left: 22%;
        margin: 0 20%;
        overflow: hidden;
        width: 6em;
    }
}

.video{
    margin: -1% auto 0 auto;
	position: relative;
	padding-bottom: 56.25%;
	z-index: 1;

    @media (min-width: 1024px){
        background-color: #000;
        padding-bottom: 0%;
        padding-left: 1%;
        text-align: center;
    }
}
    
.video iframe{
	display: inline-block;
	height: 100%;
    margin: 0 auto;
	position: absolute;
    width: 100%;

    @media (min-width: 1024px){
        height: 516px;
        margin: 0 auto;
        position: inherit;
        width: 900px;
    }
}

.video-cover{
	background-color: #000;
    height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;

    @media (min-width: 1024px){
        left: 0;
    }
}


